<html>
<style>
    body {
        font-family: sans-serif;
        margin: 0;
    }
    h1 {
        font-size: 2em;
        margin: 0;
        padding: 0;
        font-weight: bold;
        text-shadow: 3px 3px 5px #aaa;
    }
    h1 a, h1 a:hover {
        color: white;
        text-decoration: none;
    }
    header {
        background-color: #34D800;
        margin: 0;
        padding: 0.5em;
        border-bottom: 1em solid #89EC6A;
    }
    h2, h3, strong {
        color: #228D00;
    }
    a {
        color: #46A229;
    }
    a:hover {
        color: #65EC3B;
    }
    #main {
        margin: 1em;
    }
    #warning {
        margin: 1.5em 5em;
    }
    #warning strong {
        color: red;
    }

</style>
<head>
    <title>DC Statsviewer</title>
</head>
<body>
    <header>
    <h1><a href="/">DC Statsviewer</a></h1>
    </header>
    
    <div id="warning">
        <strong>WARNING</strong> This is very much a work in progress, the values reported here might be unrepresentitive, or just downright wrong.
    </div>

    <div id="main">
    {% block main %}
    {% endblock %}
    </div>

    <footer></footer>
</body>
</html>