{% load statsviewer_extras %}
<h2>Files</h2>
{% for name, table, slug in file_tables %}
<h3>{{name}}</h3>
<table>
    {% for file in table %}
    <tr>
        <td>{{forloop.counter}}.</td>
        <td><a href="/file/{{file.pk}}">{{file|bestname}}</a></td>
        <td>{{file.size|nice_size}}</td>
        <td>{{file.cnt}}</td>
    </tr>
    {% endfor %}
    {% if table|length < 20 and not nomore %}
    <tr>
        <td colspan="4" align="center"><a href="/files/{{slug}}">(more)</a></td>
    </tr>
    {% endif %}
</table>
{% endfor %}