{% extends "base.html" %}
{% block main %}

{% load statsviewer_extras %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<img src="{{ STATIC_PREFIX }}/graph.svg" />

<ul>
    <li><strong>Files</strong> {{files}} ({{files_unique}} unique)</li>
    <li><strong>Share Size</strong> {{size|nice_size}} ({{size_unique|nice_size}} unique)</li>
</ul>

{% include "files.html" with min=True %}

{% include "users.html" with min=True %}

{% endblock %}