{% extends "base.html" %}
{% block main %}

{% load statsviewer_extras %}
<ul>
{% for name, value in fields %}
    <li><strong>{{name}}</strong> {{value}}</li>
{% endfor %}
{% if q == "file" %}
    <li>
        <strong>Name:</strong>
        <ul>{% for filename in filenames %}
            <li><a href="/filename/{{filename.pk}}">{{filename.name}}</a>
            (<a href="/user/{{filename.user.pk}}">{{filename.user.username}}</a>)</li>
        {% endfor %}</ul>
    </li>
    <li>
        <strong>Requests:</strong>
        <ul>{% for query in queries %}
            <li>{{query.when}}
            (<a href="/user/{{query.user.pk}}">{{query.user.username}}</a>)</li>
        {% endfor %}</ul>
    </li>
{% endif %}
{% if q == "user" %}
    <li><strong>Files</strong> {{files}} ({{files_unique}} unique)</li>
    <li><strong>Share Size</strong> {{size|nice_size}} ({{size_unique|nice_size}} unique)</li>
{% endif %}
</ul>

{% if q == "user" %}
<h2>Files</h2>
{% for name, table in tables %}
<h3>{{name}}</h3>
<table>
    {% for file in table %}
    <tr>
        <td>{{forloop.counter}}.</td>
        <td><a href="/file/{{file.pk}}">{{file|bestname}}</a></td>
        <td>{{file.size|nice_size}}</td>
        <td>{{file.cnt}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endif %}


{% endblock %}