{% extends "base.html" %}
{% block main %}

{% load statsviewer_extras %}
<!--<meta http-equiv="refresh" content="20">-->
{% for x in searches %}
    {{x.when|date:"c"}}
    <strong><a href="/user/{{x.user.pk}}">{{x.user.username}}</a></strong>
    {% if tiger %}
        <a href="/file/{{x.file.pk}}">{{x.file|bestname}}</a>
    {% else %}
        {{x.text}}
    {% endif %}
    <br/>
{% endfor %}

{% endblock %}