{% load statsviewer_extras %}
<h2><a href="/users">Users</a></h2>
{% for name, table, size in user_tables %}
<h3>{{name}}</h3>
<table>
    {% for user in table %}
    <tr>
        <td>{{forloop.counter}}.</td>
        <td><a href="/user/{{user.pk}}">{{user.username}}</a></td>
        <td>{% if size %}{{user.cnt|nice_size}}{% else %}{{user.cnt}}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}